{% extends 'base.html.twig' %}

{% block body %}
<table>
        <tr>
            <td><p>ID</p></td>
            <td><p>NAME</p></td>
            <td><p>CODE</p></td>
        </tr>
        <tr>
            <td><p> bonjour {{id}} </p></td>
            <td><p> bonjour {{name}} </p></td>
            <td><p> bonjour {{code}} </p></td>
        </tr>
    </table>
{% endblock %}