{% extends 'base.html.twig' %}

{% block body %}
<table>
        <tr>
            <td><p class="première ligne">ID</p></td>
            <td><p class="première ligne">NAME</p></td>
            <td><p class="première ligne">CODE</p></td>
        </tr>
        <tr>
            <td><p> bonjour {{id}} </p></td>
            <td><p> bonjour {{name}} </p></td>
            <td><p> bonjour {{code}} </p></td>
        </tr>
    </table>
{% endblock %}