<!DOCTYPE html>
<html>
    {% include 'header.html.twig' %}
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock javascripts%}
    </body>
    {% include 'footer.html.twig' %}
</html>
